.wrapper {
  background: linear-gradient(179deg, #17090b 0%, #130808 100%);
  min-height: 100vh;
  padding: 30px 0 20px 0;
}

.mainer {
  /* width: 375px; */
  height: 287px;
  position: relative;
  background-size: 100% 100%;
}

.topper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nums {
  background-image: url("../../assets/tiger/top.png");
  width: 133px;
  height: 23px;
  border-radius: 5px;
  background-size: 100% 100%;
  margin: 0 4px;
  text-align: center;
}
