.wrapper {
  background: linear-gradient(179deg, #17090b 0%, #130808 100%);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.downWrapper {
  position: relative;
  z-index: 8;
}
.content {
  position: relative;
  padding: 15px 0 20px 0;
}
.content::after {
  content: '';
  position: absolute;
  background-image: url("../../assets/tiger/bg.gif");
  background-size: 100% 100%;
  width: 100%;
  height: 777px;
  top: -57px;
}

.center {
  background-image: url("../../assets/tiger/big-pic.jpg");
  background-size: 100% 585px;
  background-position-x: center;
  /* background-position-y: center; */
  background-repeat: no-repeat;
}

.mainer {
  /* width: 375px; */
  height: 287px;
  position: relative;
  background-size: 100% 100%;
}

.topper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 100px;
}

.nums {
  background-image: url("../../assets/tiger/money.png");
  width: 80px;
  height: 23px;
  border-radius: 5px;
  padding: 0 4px 0 0;
  background-size: 100% 100%;
  margin: 0 4px;
  text-align: right;
  color: #e4c07a;
  line-height: 23px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -4px;
}

.diamonds {
  width: 15px;
  z-index: 9999;
}

.numsIn {
  background-image: url("../../assets/tiger/money-null.png");
}

.down {
  height: 223px;
  position: relative;
  z-index: 9;
}

.downWrapper {
  /* padding-left: 4px; */
}

@media screen and (max-width: 405px) {
  .downWrapper {
    transform: scale(0.92);
  }
}

@media screen and (max-width: 370px) {
}

@media screen and (max-width: 320px) {

}

