.seat {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 30px;
}

.seatRows {
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  text-align: center;
  padding: 0 5px;
  border-radius: 3px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4) inset;
}

.empty {
  color: #f4b03e;
  height: 70px;
  line-height: 70px;
  font-size: 13px;
  font-weight: bold;
}

.seatIcon {
  text-align: center;
  margin-bottom: 10px;
  img {
    width: 38px;
  }
}
