.main {
  background-image: url('../../assets/bg.png');
  position: relative;
  min-height: 100vh;
  background-size: 100% 100%;
  overflow: hidden;
}

.nav {
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
  position: relative;
}

.room {
  position: absolute;
  color: #ffffff;
  bottom: -25px;
  font-size: 13px;
  left: 10px;
  img {
    width: 15px;
    vertical-align: middle;
  }
}

.content {
  transform: scaleY(0.9);
  min-height: 700px;
}

.leftNav {
  display: flex;
  > div {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin-left: 8px;
    color: #f4b03e;
    font-size: 13px;
    font-weight: bold;
    width: 65px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    line-height: 23px;
  }
}

.close {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 28px;
  text-align: center;
  img {
    width: 15px;
  }
}
