.seatWrapper {
  position: absolute;
  top: 40px;
  width: 100%;
}
.seat {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 30px;
}

.seatRows {
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4) inset;
  height: 70px;
  width: 43px;
  position: relative;
}

.empty {
  color: #f4b03e;
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  font-weight: bold;
}

.seatIcon {
  text-align: center;
  margin-bottom: 10px;
  img {
    width: 38px;
  }
}

.portrait {
  height: 35px;
  padding-top: 3px;
  img {
    width: 33px;
    border-radius: 2px;
  }
}

.names {
  font-size: 12px;
  color: #ffffff;
  transform: scale(0.8);
  white-space: nowrap;
  margin-left: -2px;
}

.nums {
  color: #f4b03e;
  font-size: 12px;
  margin-top: -3px;
}

.record {
  position: relative;
  z-index: 99;
}

.history {
  position: absolute;
  top: -310px;
  left: -160px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  width: 150px;
  padding-bottom: 5px;
}

.count {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 3px;
  div {
    width: 30%;
    text-align: center;
  }
}

.index {
  color: #ffffff;
  margin-top: -10px;
  margin-right: 15px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  background-color: #848484;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding-top: 5px;
}

.animal {
  display: flex;
  align-items: center;
  div {
    margin-right: 5px;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.ball {
  position: absolute;
  width: 28px;
  height: 28px;
  line-height: 27px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  animation: ball_move 0.3s linear;
  animation-fill-mode: forwards;
  z-index: 3;
  pointer-events: none;
  background-size: 100% 100%;
  text-align: center;
  span {
    font-size: 12px;
    transform: scale(0.6);
    display: inline-block;
  }
}

.ball-0 {
  background-image: url("../../../../assets/chip-0.png");
}

.ball-1 {
  background-image: url("../../../../assets/chip-1.png");
}

.ball-2 {
  background-image: url("../../../../assets/chip-2.png");
}

.ball-3 {
  background-image: url("../../../../assets/chip-3.png");
}


@keyframes ball_move {
  0% {
    top: 5px;
    left: 5px;
  }
  100% {
    top: var(--top);
    left: var(--left);
  }
}

