
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  /* transform: scale(0.98); */
}

.gift {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift img {
  width: 27px;
  margin-top: 2px;
  -webkit-transform: perspective(400px) rotateX(-20deg);
  transform: perspective(400px) rotateX(-20deg)
}

.nums {
  font-weight: bold;
}

.item {
  width: 49px;
  height: 45px;
  border-radius: 5px;
  background-size: 100% 100%;
  text-align: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.reward .item:active .gift {
  transform: perspective(100px) rotateX(-40deg);
}
.reward:nth-child(1) .item {
  background-image: url("../../../../assets/tiger/reward-0.png");
}

.reward:nth-child(1) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-0.png");
}


.reward:nth-child(2) .item {
  background-image: url("../../../../assets/tiger/reward-1.png");
}

.reward:nth-child(2) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-1.png");
}

.reward:nth-child(3) .item {
  background-image: url("../../../../assets/tiger/reward-2.png");
}

.reward:nth-child(3) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-2.png");
}

.reward:nth-child(4) .item {
  background-image: url("../../../../assets/tiger/reward-3.png");
}

.reward:nth-child(4) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-3.png");
}

.reward:nth-child(5) .item {
  background-image: url("../../../../assets/tiger/reward-4.png");
}

.reward:nth-child(5) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-4.png");
}

.reward:nth-child(6) .item {
  background-image: url("../../../../assets/tiger/reward-5.png");
}

.reward:nth-child(6) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-5.png");
}

.reward:nth-child(7) .item {
  background-image: url("../../../../assets/tiger/reward-6.png");
}

.reward:nth-child(7) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-6.png");
}

.reward:nth-child(8) .item {
  background-image: url("../../../../assets/tiger/reward-7.png");
}

.reward:nth-child(8) .item:active {
  background-image: url("../../../../assets/tiger/reward-in-7.png");
}


.content {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

.rows {
  background-image: url("../../../../assets/tiger/bule.png");
  width: 34px;
  padding: 0 4px 0 0;
  height: 25px;
  background-size: 100% 100%;
  margin: 0 auto 3px auto;
  text-align: right;
  color: #8fd9df;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: -5px;
}

.multiple {
  background-image: url("../../../../assets/tiger/seat.png");
  width: 34px;
  padding: 0 4px 0 0;
  height: 25px;
  background-size: 100% 100%;
  margin: 0 3px;
  text-align: right;
  color: #e4c07a;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  margin: 0 auto 10px auto;
  letter-spacing: -5px;
}

@media screen and (max-width: 405px) {
  .reward {
    margin-top: -5px;
  }
}

@media screen and (max-width: 355px) {
  .list {
    transform: scale(0.9);
  }
}
