.seat {
  background-image: url("../../../../assets/tiger/green.png");
  height: 141px;
  position: relative;
  background-size: 100% 100%;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.gift {
  width: 20px;
  margin: 8px 0 -3px 0;
}

.item {
  background-image: url("../../../../assets/tiger/bottom.png");
  width: 39px;
  height: 65px;
  border-radius: 5px;
  background-size: 100% 100%;
  margin: 0 1.5px;
  text-align: center;
}

.nums {
  font-weight: bold;
}
.item:nth-child(1) {
  transform: rotate(4deg);
  margin-top: -3px;
}

.item:nth-child(2) {
  transform: rotate(2deg);
}

.item:nth-child(2) {
  transform: rotate(1deg);
}


.item:nth-child(6) {
  transform: rotate(-2deg);
}


.item:nth-child(7) {
  transform: rotate(-3deg);
}

.item:nth-child(8) {
  transform: rotate(-5deg);
  margin-top: -3px;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

.rows {
  background-image: url("../../../../assets/tiger/num.png");
  width: 36px;
  height: 23px;
  background-size: 100% 100%;
  margin: 0 3px;
  text-align: center;
}
